<%-include('navbar.ejs')%>
<form action="/login_user" method="post">
<div class="container-fluid p-3 bg-white text-capitalize mb-4">
    <div class="row justify-contect-center">
        <div class="col-md-12 bg-dark p-2 text-white mb-4">
            <h4>Login here....</h4>
        </div>
        <div class="col-3   "></div>
        <div class="col-5 bg-light p-3 mb-5 shadow-lg ">
               Enter mobile number
               <input type="number" name="user_mobile"  class="form-control"> <br>
               Enter password
               <input type="password" name="password" id="myInput" class="form-control">
               <h2 class="text-white" id="show"  onclick="myFunction()"><i class="fa-solid fa-eye"></i></h2>
               <div class="text-center">
               <button class="btn btn-primary pe-5 ps-5 mt-3">Login</button>
               <br>
               <h6 class="mt-4 "> New User <a href="/sign_up" style="color: blue;">
                create account</h6>
                </a>
            </div>

        </div>
    </div>
</div>
</form>

<%-include('footer.ejs')%>
<style>
    #show
    {
        margin-left:90%;
        margin-top: -48px;
        background-color: rgba(34, 39, 43,0.8);
        color: white;
        padding: 4px;
        padding-left: 5px;
        /* font-size: 15px; */
        border-radius: 0px 10px 10px 0px;
    }
</style>
<script>
    function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>